USE [DigitalNews]
GO
/****** Object:  Table [dbo].[digital]    Script Date: 5/28/2021 10:27:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[digital](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](50) NOT NULL,
	[content] [text] NOT NULL,
	[image] [nvarchar](50) NOT NULL,
	[author] [nvarchar](50) NOT NULL,
	[date] [nvarchar](50) NOT NULL,
	[shortContent] [text] NOT NULL,
 CONSTRAINT [PK_digital] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[digital] ON 

INSERT [dbo].[digital] ([id], [title], [content], [image], [author], [date], [shortContent]) VALUES (1, N'title1', N'acsascascascacacacacacacacascascascascsa', N'i1.jpg', N'author1', N'2018-10-10', N'devaluke abc short Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation.')
SET IDENTITY_INSERT [dbo].[digital] OFF
